body
{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.flex
{
    display: flex;
}
.centralize
{
    justify-content: center;
    align-items: center;
}
.bar-spacing
{
    width: 100%;
    justify-content: space-between;
    margin: 0 21px;
}
.bar-sizing
{
    height: 80px;
}
.full-width
{
    width: 100%;
}
.white-background
{
    background-color: #fff;
}
.weight-400
{
    font-weight: 400;
}
.weight-700
{
    font-weight: 700;
}
.font-size-14
{
    font-size: 14px;
}

.header
{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0px;
}
.logo
{
    width: 75px;
    height: 53px;
}
.people-header
{
    width: 45px;
    height: 45px;
}

.chat
{
    padding: 106px 0;
    background-color: #F3F3F3;
}
.message-container-external
{
    padding: 12px 0 12px 0;
    margin: 4px 0 4px 0;
    width: 100%;
}
.message-container-internal
{
    padding: 0 10px 0 10px;
}
.gray-color
{
    color: #AAAAAA;
}
.time-format
{
    padding-right: 5px;
}
.message-format
{
    padding: 0 1px 0 1px;
    line-height: 20px;
}
.enter-leave
{
    background-color: #dcdcdc;
}
.public
{
    background-color: #fff;
}
.private
{
    background-color: #ffdede;
}

.write-and-send
{
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0px;
}
.input
{
    border: none;
    font-size: 18px;
    font-style: italic;
}
.paper-plane-sender
{
    width: 26px;
    height: 26px;
}