body
{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.login-screen
{
    flex-direction: column;
}
.login-logo
{
    margin-top: 72px;
}
.login-input
{
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    height: 54px;
    width: 261px;
    text-align: center;
    margin-top: 94px;
}
.login-input::placeholder
{
    color: #AEAEAE;
}
.error-align
{
    flex-direction: column;
    width: 267px;
    margin-top: 10px;

}
.login-name-error
{
    color: red;
    width: 240px;
    text-align: center;
}
.login-button
{
    background: #E7E7E7;
    border: none;
    border-radius: 9px;
    width: 109px;
    height: 45px;
    margin-top: 15px;
}
.login-bt-text
{
    color: #696969;
}
.login-logo
{
    width: 130px;
    height: 92px;
}
.loading-gif
{
    width: 100%;
}

.flex
{
    display: flex;
}
.centralize
{
    justify-content: center;
    align-items: center;
}
.header-spacing
{
    width: 100%;
    justify-content: space-between;
    margin: 0 21px;
}
.bar-sizing
{
    height: 80px;
}
.full-width
{
    width: 100%;
}
.white-background
{
    background-color: #fff;
}
.weight-300
{
    font-weight: 300;
}
.weight-400
{
    font-weight: 400;
}
.weight-700
{
    font-weight: 700;
}
.font-size-14
{
    font-size: 14px;
}
.font-size-16
{
    font-size: 16px;
}
.font-size-18
{
    font-size: 18px;
}

.header
{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
}
.logo
{
    width: 75px;
    height: 53px;
}
.people-header
{
    width: 45px;
    height: 45px;
}

.chat
{
    margin: 90px 0;
    background-color: #F3F3F3;
}
.message-container-external
{
    padding: 12px 0 12px 0;
    margin: 4px 0 4px 0;
    width: 100%;
}
.message-container-internal
{
    padding: 0 10px 0 10px;
}
.gray-color
{
    color: #AAAAAA;
}
.time-format
{
    padding-right: 5px;
}
.message-format
{
    padding: 0 1px 0 1px;
    line-height: 20px;
}
.enter-leave
{
    background-color: #dcdcdc;
}
.public
{
    background-color: #fff;
}
.private
{
    background-color: #ffdede;
}

.write-and-send
{
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    flex-direction: column;
}
.footer-wrapper
{
    width: 100%;
}
.input-and-send
{
    width: 100%;
    justify-content: space-between;
}
.input
{
    all: unset;
    margin: 0 0 8px 20px;
    border: none;
    font-size: 18px;
    font-style: italic;
    padding: 0;
}
.paper-plane-sender
{
    width: 26px;
    height: 26px;
    margin-right: 21px;
}
.show-from-to
{
    margin-left: 21px;
}
.sending-to
{
    color: #505050;
}
.overflow-container
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.black-ground
{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.sidebar
{
    height: 100%;
    width: 256px;
    background-color: white;
    z-index: 2;
    overflow-y: auto;
}
.on-screen
{
    position:fixed;
    top: 0;
    right: 0;
    transition: 0.3s;
}
.off-screen
{
    position: fixed;
    top: 0;
    right: -256px;
    transition: 0.3s;
}
.hidden
{
    display: none;
}
.sidebar-titles
{
    margin-top: 25px;
    text-align: center;
}
.sidebar-items
{
    flex-direction: column;
    margin: 20px 0 0 17px;
    gap: 15px;
}
.sidebar-icon
{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.sidebar-item
{
    align-items: center;
}
.sidebar-name-and-check
{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.sidebar-name-container
{
    width: 140px;
}
.checkmark
{
    width: 12px;
    height: 10px;
    margin-right: 20px;
}
.margem-gambiarra
{
    margin-bottom: 20px;
}